body {
  font-size: 125%;
  text-color: #f0e0b1;
}

head {
  outline-style: solid;
  outline-width: medium;
}

h1 { 
  font-variant: small-caps;
  font-family: 'URW Chancery L', Cursive;
  text-align: center;
  margin-bottom: 15px;
  Outline: Border;
  Outline-style: solid;
  Outline-width: Medium;
  Outline-color: #090173;
  background-color: #090173;
  text-color: #f0e0b1;
}

ul.main-menu {
    list-style-type: square;
    margin: 10px;
    padding: 0;
  text-align: center;
}
ul.main-menu>li {
    display: inline;
  text-align: center
}
frame {
width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
p {
  text-align: center;
  font-family: serif;
  text-color: #000000;
}
footer {
   text-align: center;
  margin-bottom: 15px;
  Outline: Border;
  Outline-style: solid;
  Outline-width: Medium;
  Outline-color: #090173;
  background-color: #090173;
}
